.box{
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    width: auto;
    height: auto;
    border: 5px solid red;
}
img{
    max-width: 100% ;
    height: auto;
}